

<div class="card">
  <h3 class="card-header d-flex justify-content-between align-items-center">
    Filter
  </h3>
  <div class="card-body">
    <form class="row" [formGroup]="formFilter">
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label>From</mat-label>
          <input matInput placeholder="Microsoft" formControlName="from" value="">
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="098754321" formControlName="phoneNumber" value="">
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label>Content</mat-label>
          <input matInput placeholder="Content" formControlName="content" value="">
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label>Received Range</mat-label>
          <mat-date-range-input [formGroup]="formFilter" [rangePicker]="picker">
            <input matStartDate formControlName="fromDate" placeholder="From date">
            <input matEndDate formControlName="toDate" placeholder="To date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>        
      </div>
    </form>
    <div class="row">
      <div class="col-lg-3"><button type="button" name="" id="" class="btn btn-primary" (click)="filter()">Filter</button></div>
    </div>

  </div>
</div>

<div class="card mt-4">
  <h3 class="card-header d-flex justify-content-between align-items-center">
    SMS
  </h3>
  <div class="card-body">

    <div>
      <div class="table-container">
        <table mat-table [dataSource]="smsData">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let sms;let i = index;">{{i+1}}</td>
          </ng-container>
          <!-- Table columns -->
          <ng-container matColumnDef="from">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>From</th>
            <td mat-cell *matCellDef="let sms">{{ sms.from }}</td>
          </ng-container>
          <ng-container matColumnDef="content">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Content</th>
            <td class="limit" mat-cell *matCellDef="let sms">{{ sms.content }}</td>
          </ng-container>
          <ng-container matColumnDef="receivedTime">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Received Time</th>
            <td mat-cell *matCellDef="let sms">{{ sms.receivedTime }}</td>
          </ng-container>
          <ng-container matColumnDef="phoneNumber">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let sms">{{ sms.phoneNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="button">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let sms"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#smsView" (click)="clickView(sms)">View</button></td>
          </ng-container>
          <!-- Repeat for other columns (content, receivedTime) -->

          <!-- Table rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="smsView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SMS View</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="smsView.phoneNumber" readonly="true">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">From</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="smsView.from" readonly="true">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Content</label>
          <textarea class="form-control" name="" id="" cols="30" rows="10" [(ngModel)]="smsView.content" readonly="true"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Received Time</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="smsView.receivedTime" readonly="true">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>