<div class="card">
  <h3 class="card-header d-flex justify-content-between align-items-center">
    Phones
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#phoneAdd"
      (click)="removeInput()">Add Phone</button>
  </h3>
  <div class="card-body">

    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#phoneView">Add Phone</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Token</th>
        <th scope="col">Number Date Expired</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of phoneData, ;let i = index ">
    
        <th >{{i+1}}</th>
        <td>{{ item.ip }}</td>
        <td class="limit">{{item.phoneNumber}}</td>
        <td>{{item.account}}</td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#phoneView">View</button><button type="button" class="btn btn-danger" (click)="deletePhone(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table> -->


    <div>

      <div class="table-container">
        <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table mat-table [dataSource]="phoneData">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let phone;let i = index;">{{i+1}}</td>
          </ng-container>
          <!-- Table columns -->
          <ng-container matColumnDef="phoneNumber">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let phone">{{ phone.phoneNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="ip">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>IP</th>
            <td mat-cell *matCellDef="let phone">{{ phone.ip }}</td>
          </ng-container>
          <ng-container matColumnDef="account">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Account</th>
            <td mat-cell *matCellDef="let phone">{{ phone.account }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let phone">{{ phone.connectStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="button">
            <!-- Column definition -->
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let phone">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#phoneUpdate"
                (click)="viewUpdatePhone(phone.id)">Update</button>
              <button type="button" class="btn btn-danger" (click)="deletePhone(phone.id)">Delete</button>
            </td>
          </ng-container>
          <!-- Repeat for other columns (content, receivedTime) -->

          <!-- Table rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="phoneAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Phone</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <code>{{currentToken}}</code> -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">IP</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="ip">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="phoneNumber">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Account</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="account">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addPhone()">Submit</button>
        <button type="button " class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="phoneUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Phone</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <code>{{currentToken}}</code> -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">IP</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="ip">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="phoneNumber">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Account</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="account">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="phoneUpdate()">Submit</button>
        <button type="button " class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>